<fieldset aria-labelledby='radio-group-legend-text-{{- id-text | escape -}}' class='form__fieldset'>
  <legend id='radio-group-legend-text-{{- id-text -}}' class='radio-group__legend'>
    {{- product_option.name | escape -}}
  </legend>
  <div class='radio-group'>
    <div class='radio-group__container'>
      {%- for value in product_option.values -%}
        <div class='radio radio-text'>
          <input
            id='{{- product_option.name | escape -}}-{{- forloop.index -}}-{{- id-text | escape -}}'
            class='radio__input visually-hidden'
            type='radio'
            name='options[{{- product_option.name | escape -}}]'
            value='{{- value | escape -}}'
            {%- if product_option.selected_value == value -%}
              checked
            {%- endif -%}
          >
          <label
            class='radio__label'
            for='{{- product_option.name | escape -}}-{{- forloop.index -}}-{{- id-text | escape -}}'
          >
            {{- value | escape -}}
          </label>
        </div>
      {%- endfor -%}
    </div>
  </div>
</fieldset>
