<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>

    <link rel='stylesheet' href='{{ 'fonts.css' | asset_url }}'>
    <link rel='stylesheet' href='{{ 'theme.min.css' | asset_url }}'>

    <script src='{{ 'theme.min.js' | asset_url }}' defer></script>

    <title>Susparsa</title>

    {{ content_for_header }}
  </head>
  <body>
    <script>
      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      };
    </script>

    {%- section 'alternate-header' -%}
    {%- render 'alternate-breadcrumbs' -%}

    <main id='main' class='main' tabindex='-1'>
      {{ content_for_layout }}
    </main>

    {%- section 'alternate-footer' -%}
  </body>
</html>
