<div class="footer__container container">
        {%- if section.blocks.size > 0 -%}
          <div class="footer-top">
            {%- for block in section.blocks -%}
              <section class="footer__section">
                {%- if block.settings.title != blank -%}
                  <h2 class="footer__heading footer-heading heading--lg">{{- block.settings.title | escape -}}</h2>
                {%- endif -%}
                {%-case block.type -%}
                  {%- when 'about' -%}
                    <address class="address">
                      {%- assign about_paragraph_text = block.settings.about_paragraph -%}
                      <div class="address__title">
                        {{- about_paragraph_text -}}
                      </div>
                      <ul class="address__social social social__list">
                        <li class="social__item">
                          <a class="cocial__link" href="{{- block.settings.linkFB -}}">
                            <span class="visually-hidden">{{- block.settings.linkFB -}}</span>
                            {%- render 'alternate-icon-facebook' -%}
                          </a>
                        </li>
                        <li class="social__item">
                          <a class="cocial__link" href="{{- block.settings.link_instagram -}}">
                            <span class="visually-hidden">{{- block.settings.link_instagram -}}</span>
                            {%-render 'alternate-icon-instagram'-%}
                          </a>
                        </li>  
                      </ul>
                    </address>
                  {%- when 'menu' -%}
                    <section class="footer__section">
                      {%- if block.settings.footer_menu != blank -%}
                        <ul class="footer-navigation" role="list">
                          {%- for link in block.settings.footer_menu.links -%}
                            <li class="footer-navigation__item">
                              <a class="footer-navigation__link" href="{{- link.url -}}">{{- link.title | escape -}}</a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </section>
              
                {%-endcase-%}
              </section>
            {%- endfor -%}
          </div>
        {%- endif -%}

        <div class="footer-bottom">
          {%- render 'alternate-footer-copyright' -%}
        </div>
  </div>

{%- schema -%}
  {
    "name": "Alternate-footer",
    "tag": "footer",
    "class": "footer",
    "max_blocks": 4,
    "settings": [],
     "blocks": [
      {
      "type": "about",
      "name": "About",
      
      "settings":[
       {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Heading"
      },
      {
      "type": "richtext",
      "id": "about_paragraph",
      "label": "Paragraph"
      },
        {
      "type": "text",
      "id": "linkFB",
      "label": "Link FB",
      "default": "Link FB"
      },
        {
      "type": "text",
      "id": "link_instagram",
      "label": "Link instagram",
      "default": "Link instagram"
      }
      ]
      },
        {
      "type": "menu",
      "name": "Menu",
      
      "settings":[
       {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Heading"
      },
      {
      "type": "link_list",
      "id": "footer_menu",
      "label": "Menu"
      }
      ]
    }
       
    ]
   
  }
{%- endschema -%}

