<div class="footer__container container">
  {%- if section.blocks.size > 0 -%}
    <div class="footer-top">
      {%- for block in section.blocks -%}
        <section class="footer__section">
          {%- if block.settings.title != blank -%}
            <h2 class="footer__heading footer-heading heading--lg">{{- block.settings.title | escape -}}</h2>
          {%- endif -%}
          {%- case block.type -%}
            {%- when 'about' -%}
              <address class="address">
                {%- if block.settings.about_paragraph != blank -%}
                  <div class="address__title">
                    {{- block.settings.about_paragraph -}}
                  </div>
                {%- endif -%}
                <ul class="address__social social social__list">
                  {%- if block.settings.linkFB != blank -%}
                    <li class="social__item">
                      <a class="cocial__link link" href="{{- block.settings.linkFB -}}">
                        <span class="visually-hidden">{{- 'general.social.links.facebook' | t -}}</span>
                        {%- render 'alternate-icon-facebook' -%}
                      </a>
                    </li>
                  {%- endif -%}
                  {%- if block.settings.link_instagram != blank -%}
                    <li class="social__item">
                      <a class="cocial__link link" href="{{- block.settings.link_instagram -}}">
                        <span class="visually-hidden">{{- 'general.social.links.instagram' | t -}}</span>
                        {%- render 'alternate-icon-instagram' -%}
                      </a>
                    </li>
                  {%- endif -%}
                </ul>
              </address>
            {%- when 'menu' -%}
              <section class="footer__section">
                {%- if block.settings.footer_menu != blank -%}
                  <ul class="footer-navigation" role="list">
                    {%- for link in block.settings.footer_menu.links -%}
                      <li class="footer-navigation__item">
                        <a class="footer-navigation__link link" href="{{- link.url -}}">{{- link.title | escape -}}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </section>
          {%- endcase -%}
        </section>
      {%- endfor -%}
    </div>
  {%- endif -%}

  <div class="footer-bottom">
    {%- render 'alternate-footer-copyright' -%}
  </div>
</div>

{%- schema -%}
{
  "name": "t:sections.alternate-footer.name",
  "tag": "footer",
  "class": "footer",
  "max_blocks": 4,
  "settings": [],
  "blocks": [
    {
      "type": "about",
      "name": "t:sections.alternate-footer.blocks.name-about",

      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.alternate-footer.blocks.settings.title_label",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "about_paragraph",
          "label": "t:sections.alternate-footer.blocks.settings.about_paragraph_label"
        },
        {
          "type": "text",
          "id": "linkFB",
          "label": "t:sections.alternate-footer.blocks.settings.linkFB_label",
          "default": "Link FB"
        },
        {
          "type": "text",
          "id": "link_instagram",
          "label": "t:sections.alternate-footer.blocks.settings.link_instagram_label",
          "default": "Link instagram"
        }
      ]
    },
    {
      "type": "menu",
      "name": "t:sections.alternate-footer.blocks.name-menu",

      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.alternate-footer.blocks.settings.title_label",
          "default": "Heading"
        },
        {
          "type": "link_list",
          "id": "footer_menu",
          "label": "t:sections.alternate-footer.blocks.settings.footer_menu_label"
        }
      ]
    }
  ]
}
{%- endschema -%}
